.home {
    z-index: 0;
}
.text-abs {
    position: absolute;
    bottom: 20px;
    left: 10%;
}

@keyframes turnleft {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(20deg);

    }
}
@keyframes turnright {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-20deg);
    }
}



@keyframes DishMotion {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes DishMotion2 {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wheelscale {
    0% {
        transform: scale(1, 1);

    }
    13% {
        transform: scale(0.8, 0.8);
    }
    26% {
        transform: scale(0.5, 0.5);
    }
    39% {
        transform: scale(0.2, 0.5);
    }

    52% {
        transform: scale(0, 0);
    }

    65% {
        transform: scale(0.2, 0.5);
    }
    78% {
        transform: scale(0.5, 0.5);
    }
    90% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);

    }
}

@keyframes wheelscale2 {
    0% {
        transform: scale(1, 1);

    }
    13% {
        transform: scale(0.8, 0.8);
    }
    26% {
        transform: scale(0.5, 0.5);
    }
    39% {
        transform: scale(0.2, 0.5);
    }

    52% {
        transform: scale(0, 0);
    }

    65% {
        transform: scale(0.2, 0.5);
    }
    78% {
        transform: scale(0.5, 0.5);
    }
    90% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);

    }
}

@keyframes rotateAxis {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(36deg);
    }
    20% {
        transform: rotateZ(72deg);
    }
    30% {
        transform: rotateZ(108deg);
    }
    40% {
        transform: rotateZ(144deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    60% {
        transform: rotateZ(216deg);
    }
    70% {
        transform: rotateZ(252deg);
    }
    80% {
        transform: rotateZ(288deg);
    }
    90% {
        transform: rotatez(324deg);
    }
    100% {
        transform: rotatez(360deg);
    }
}

@keyframes anim2 {
    0% {
        transform: rotatez(0deg);
    }
    33% {
        transform: rotatez(15deg);
    }
    66% {
        transform: rotatez(-15deg);
    }
    100% {
        transform: rotatez(0deg);
    }
}

.major-abs {
    position: absolute;
    top: -100vh;
    right: -10vw;

    height: 200vh;
    width: 80vw;
    min-width: 700px;
    @include FlexMixin(column, space-around, center);

    @media (min-width:1500px) {
        right:-15vw
    }
    .giant-circle {
        height: 70%;
        width: 100%;
         position: absolute;
        background: $light-orange-color;
        border-radius: 50%;
        z-index: -2;
        @include FlexMixin(row, center, flex-end);

        .food-wheel {
            align-self: flex-end;
            height: 50vh;
            width: 40vw;
            position: absolute;
            max-width: 650px;

            animation: wheelscale 500ms linear forwards;

            @media (min-width:1500px) {
                height: 40vh;
            }
        }

    }
    .giant-circle-green {
        height: 70%;
        width: 100%;
        position: absolute;
        background: $light-green-color;
        border-radius: 50%;
        z-index: -2;
        @include FlexMixin(row, center, flex-end);

        .food-wheel {
            align-self: flex-end;
            height: 50vh;
            width: 40vw;
            position: absolute;
            max-width: 650px;

            animation: wheelscale2 500ms linear forwards;

            @media (min-width:1500px) {
                height: 40vh;
            }

        }


    }

    .center-dish-div {
        margin-top: 140vh;
        overflow-y:hidden;
        height: 200px;
        width: 30vw;
        min-width: 250px;
        max-width: 600px;

        @include FlexMixin(row, space-between, flex-end);

        @media (min-width: 1500px) {
            height: 300px;
        }

        .center-dish {
            height: 200px;
            width: 200px;
            animation: DishMotion 500ms linear forwards;

            @media (min-width: 1500px) {
                height: 300px;
                width: 300px;
            }
        }

        img {
            height: 60px;
            width: 60px;
            cursor: pointer;

            @media (min-width: 1500px) {
                height: 90px;
                width: 90px;
            }
        }
    }
    .center-dish-div-alt {
        margin-top: 140vh;
        overflow-y:hidden;
        height: 200px;
        width: 30vw;
        min-width: 250px;
        max-width: 600px;

        @include FlexMixin(row, space-between, flex-end);

        @media (min-width: 1500px) {
            height: 300px;
        }

        .center-dish {
            height: 200px;
            width: 200px;
            animation: DishMotion2 500ms linear forwards;

            @media (min-width: 1500px) {
                height: 300px;
                width: 300px;
            }
        }

        img {
            height: 60px;
            width: 60px;
            cursor: pointer;

            @media (min-width: 1500px) {
                height: 90px;
                width: 90px;
            }
        }
    }
}
