@import "./mixins";
@import "./constants";
@import "./home";
@import "./components/header";
@import "./components/card";

* {
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden !important;
}

p {
    font-family: 'Poppins', sans-serif;
}
